@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: 'Jost';
    background-color:#FFFBFC;
    color: #170F11;
}
.container{
    display: flex;
    flex-direction: column;
    min-width: 1vh;
}

header{
    padding: 20px;
    max-width: 1050px;
    margin: 0 auto;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

#image-header{
    display: flex;
    flex-direction: row;
    width: 200px;
    margin: 0;
}

#anchor-header{
    margin: 30px 0 10px 0;
    display: flex;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: 500;
    color: #E59500;
    background-color: #170F11;
    border-radius: 20px;

    box-shadow: 0 0.8rem  15px rgba(0, 0, 0, 0.1);
    transition: color 0.3s ease;
}

#anchor-header:hover{
    /* background-color: #FCBA04; */
    color: #F8F1FF;

}

#title-header{
    font-size: 35px;
    margin-top: 20px ;
    font-weight: 500;
    color: #031927;
}
#title-logo{
    font-family: 'MuseoModerno';
    font-weight: 700;
}

#title-logo-dot{
    color: #E59500;
}

#paragraph-header{
    font-size: 17px;
    font-weight: 500;

    margin-top: 10px;
    margin-bottom: 45px;
}


#input-header{
    width: 210px;
    height: 22px;

    border-style: solid;
    border-color: #031927;

    border-width: 1px;
    border-radius: 8px;

    font-family: 'Jost';
    font-weight: 500;
}

main{
    padding: 20px;
    max-width: 1050px;
    margin: 0 auto;
    margin-bottom: 30px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
#article-cards-1{
    display: flex;
    align-self: flex-end;

    font-weight: 600;
    font-size: 25px;
    color: #031927;
    font-family: 'MuseoModerno';

    margin: 10px 0 20px 20px;
}
.cards-1-container{
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

}
.cards-1{
    width: 200px;

    padding: 10px;
    width: 260px;
    background-color: #FFF;
    margin: 0 20px;
    margin-bottom: 35px;

    border-radius: 10px;
    box-shadow: 0 0.25rem  10px rgba(0, 0, 0, 0.1);

    transition: transform 0.5s ease ;
}

.cards-1:hover{
    transform: scale(1.1);
}

.image-cards-1{
    width: 250px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.subtitle-image-cards-1{
    margin-bottom: 15px;
    font-weight: 600;

}

.subtitle-cards-1{
    margin-bottom: 5px;
    font-weight: 500;
}

/* Poster container */
.poster-container{
    width: 100%;
    margin: 20px 0;
    padding: 0 18px;

    display: flex;
    justify-content: start;
    flex-direction: row;
    flex-wrap: wrap;
}

#article-poster{
    display: flex;
    align-self: flex-end;

    font-weight: 600;
    font-size: 25px;
    color: #031927;
    font-family: 'MuseoModerno';

    margin: 10px 0 0px 20px;
}

/* -- big poster left --*/
.poster{
    width: 650px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.poster-users{
    width: 600px;

    background-color: #FFF;
    padding: 10px;
    border-radius: 10px;

    margin-right: 20px;
    margin-bottom: 30px;
    box-shadow: 0 0.25rem  10px rgba(0, 0, 0, 0.1);

    transition: transform 0.5s ease;
}

.poster-users:hover{
    transform: scale(1.02);
}

.content-poster-users{
    margin-bottom: 5px;
    font-weight: 600;
}


.date-poster-users, .name-user-poster, .name-user-poster-litle, .date-poster-users-litle{
    font-weight: 500;
    font-size: 15px;
    margin-top: 5px;
}



.paragraph-poster-user{
    margin-top: 15px;
}
/* -- end big poster left --*/

.poster-litle{
    width: 342px;

    flex-direction: column;
    align-items: flex-end;
}

.poster-users-litle{
    width: 100%;

    margin-bottom: 20px;
    background-color: #FFF;
    padding: 10px;
    border-radius: 10px;

    box-shadow: 0 0.25rem  10px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease ;
}

.poster-users-litle:hover{
    transform: scale(1.02);
}

footer{
    display:  flex;
    justify-content: center;
    margin-bottom: 30px;
}

#more{
    text-decoration: none;
    font-weight: 500;
    padding: 10px 20px;
    margin-bottom: 30px;
    color: #E59500;
    background-color: #170F11;
    border-radius: 20px;

    box-shadow: 0 0.8rem  15px rgba(0, 0, 0, 0.1);
    transition: color 0.3s ease;
}

#more:hover{
    color: #FFF;
}

/* Midea Query  */
@media(max-width: 722px){
    body{
        min-width: 500px;
    }
    main{
        width: 100%;
    }
    header #title-header{
        font-size: 22px;
    }
    header #paragraph-header{
        font-size: 15px;
    }

    main .cards-1-container{
        display: flex;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    main .poster-container{
        flex-direction: column;
        align-items: center;
    }

    main .poster{
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-direction: row;
    }
    
    main .poster-litle{
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    main .poster-users, main .poster-users-litle{
        width: 200px
    }
    main .poster-users-litle{
        flex-direction: row;
        width: 80%;
    }
    
    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}